
$lightgray: #f4f4f4
$lightgreen: #EDFFEF
$lightblue: #EDFEFF
$gray: #AAA
$almostblack: #111

@mixin hideText()
  text-indent: 100%
  white-space: nowrap
  overflow: hidden

@mixin moveButton($color)
  background-color: white
  border: solid 1px
  border-color: $color
  color: $color
  padding: 3px 30px
  margin-bottom: 3px
  text-align: center
  box-shadow: none

@mixin squareIcon($iconUrl)
  background-image: url($iconUrl)
  background-repeat: no-repeat
  background-position: center
  background-size: contain

@mixin squareButton()
  background-color: #fff
  border: none
  font-size: 24px
  font-weight: bold
  line-height: 34px
  height: 34px
  margin-right: -1px
  margin-top: -1px
  padding: 0
  width: 34px

body
  font: 14px "Century Gothic", Futura, sans-serif
  margin: 20px
  margin-top: 5px

.disabled-board button
  background-color: $lightgray

.x-won-board button
  background-color: $lightgreen

.o-won-board button
  background-color: $lightblue

ol, ul
  padding-left: 30px

.move-button
  @include moveButton($gray)

.current-move-button
  @include moveButton($almostblack)

button.square-react-icon
  @include squareIcon('react-icon.svg')
  @include hideText()

button.square-vue-icon
  @include squareIcon('vue-icon.svg')
  @include hideText()

button.react-icon
  @include squareIcon('react-icon.svg')
  @include hideText()
  @include squareButton()

button.vue-icon
  @include squareIcon('vue-icon.svg')
  @include hideText()
  @include squareButton()

button.no-icon
  @include squareButton()

.current-move-button:hover
  background-color: $almostblack
  color: white

.move-button:hover
  background-color: $gray
  color: white

.container
  display: flex
  flex-direction: column

.classic-board-row

.table-cell
  display: table-cell

.ultimate-board
  display: flex
  flex-direction: column

.ultimate-row
  flex: 1
  flex-direction: row

.classic-board
  flex: 1

.table-large-padding
  padding-left: 50px

.table-board-border
  border: 2px solid #fff

.status
  margin-bottom: 10px

.square
  background: #fff
  border: 1px solid #999
  float: left
  font-size: 24px
  font-weight: bold
  line-height: 34px
  height: 34px
  margin-right: -1px
  margin-top: -1px
  padding: 0
  text-align: center
  width: 34px

.square:focus
  outline: none

.game-info
  margin-left: 20px

.history
  list-style-type: none
  padding-left: 0
