body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  margin-top: 5px;
}

.lightgreen-board button {
  background-color: #e6ffe6;
}

.lightred-board button {
  background-color: MistyRose;
}

.x-won-board button {
  background-color: #1A95DB;
}

.o-won-board button {
  background-color: #FF5A5F;
}

ol, ul {
  padding-left: 30px;
}

.move-button {
  background-color: white;
  border-color: #AAAAAA;
  border: solid 1px;
  color: #AAAAAA;
  padding: 3px 30px;
  margin-bottom: 3px;
  text-align: center;
  box-shadow: none;
}

.current-move-button {
  background-color: white;
  color: #111111;
  border: solid 1px;
  border-color: #111111;
  padding: 3px 30px;
  margin-bottom: 3px;
  text-align: center;
  box-shadow: none;
}

button.square-react-icon {
  background-image: url(react-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  /* Hiding text */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

button.square-vue-icon {
  background-image: url(vue-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  /* Hiding text */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

button.react-icon {
  background-image: url(react-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #fff;
  border: none;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 34px;
  /* Hiding text */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

button.vue-icon {
  background-image: url(vue-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #fff;
  border: none;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 34px;
  /* Hiding text */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

button.no-icon {
  background-color: #fff;
  border: none;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 34px;
}

.current-move-button:hover {
  background-color: #111111;
  color: white;
}

.move-button:hover {
  background-color: #AAAAAA;
  color: white;
}

.table {
  display: table;
}

.table-row {
  display: table-row;
}

.table-column {
  display: table-column;
}

.table-cell {
  display: table-cell;
}

.table-large-padding {
  padding-left: 50px;
}

.table-small-padding {
  padding-left: 20px;
}

.table-board-border {
  border: 2px solid #fff;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.red-font {
  color: red
}

.blue-font {
  color: blue
}

.green-font {
  color: green
}

.yellow-font {
  color: yellow
}

.purple-font {
  color: purple
}

.orange-font {
  color: orange
}
